<div>
    <p>HYK 도서대출관리</p>
</div>
<div id="footer_div">
    <span>
        <div class="img_wrapper">
            <img src="./images/v3_1597.png">
        </div>
        <p>
            주소
        </p>
        <div>
            <p class="footer_text">
                8776 Juniper Street
                <br />
                Unit #204
                <br />
                Merriweather, Ontorio
                <br />
                Canada
                <br />
            </p>
        </div>
    </span>
    <span>
        <div class="img_wrapper">
            <img src="./images/v3_1602.png">
        </div>
        <p>
            연락처
        </p>
        <div>
            <p class="footer_text">
                Email us
                <br />
                contact@minimal.com
                <br />
                Contact form
                <br />
                Scroll down
                <br />
            </p>
        </div>
    </span>
    <span>
        <div class="img_wrapper">
            <img src="./images/v3_1608.png">
        </div>
        <p>
            SNS
        </p>
        <div>
            <p class="footer_text">
                Facebook
                <br />
                Twitter
                <br />
                Linkdin
                <br />
            </p>
        </div>
    </span>
</div>