<div>
    <p>HYK 도서대출관리</p>
</div>
<div id="footer_div">
    <span>
        <div class="img_wrapper">
            <img src="./images/v3_1597.png" style="width:50%">
        </div>
        <p>
            주소
        </p>
        <div>
            <p class="footer_text">
                경기도 광명시 오리로
            </p>
        </div>
    </span>
    <span>
        <div class="img_wrapper">
            <img src="./images/v3_1602.png">
        </div>
        <p>
            EMAIL
        </p>
        <div>
            <p class="footer_text">
                contact@minimal.com
            </p>
        </div>
    </span>
    <span>
        <div class="img_wrapper">
            <img src="./images/v3_1608.png">
        </div>
        <p>
            SNS
        </p>
        <div>
            <p class="footer_text">
                Facebook
                Twitter
                Instagram
            </p>
        </div>
    </span>
</div>