<div>
    <p>HYK 도서대출관리</p>
</div>
<div id="footer_div">
    <span>
        <div class="img_wrapper link-wrapper">
            <img src="./images/location.png" style="width:50%">
        </div>
        <p>
            주소
        </p>
        <div>
            <p class="footer_text">
                경기도 광명시 오리로
            </p>
        </div>
    </span>
    <span>
        <div class="img_wrapper link-wrapper">
            <img src="./images/mail.png">
        </div>
        <p>
            EMAIL
        </p>
        <div>
            <p class="footer_text">
                contact@minimal.com
            </p>
        </div>
    </span>
    <span>
        <div class="img_wrapper">
            <img src="./images/sns.png">
        </div>
        <p>
            SNS
        </p>
        <div>
            <p class="footer_text">
            <div class="img_wrapper link-wrapper" data-href="https://facebook.com/">
                <img src="./images/facebook.png">
            </div>
            <div class="img_wrapper link-wrapper" data-href="https://instagram.com/">
                <img src="./images/instagram.png">
            </div>
            <div class="img_wrapper link-wrapper" data-href="https://twitter.com/">
                <img src="./images/twitter.png">
            </div>
            </p>
        </div>
    </span>
</div>