<div class="rollingbanner">
    <div class="wrap">
        <div class="roller original" id="roller1" style="left: -313px;">
            <ul>
                {% for book in site.data.rollingbanner.posts %}
                <li>
                    <pre>{{ book.rank }}위 : {{ book.name }} ({{ book.updown }})</pre>
                    <span class="{{book.change}}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                            <title>Arrow Forward</title>
                            <path class="arrow-path" d="M268 112l144 144-144 144M392 256H100" />
                        </svg>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

