<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
    <title>BookManager</title>
    <link href="./images/v3_1334.png" rel="shortcut icon" type="image/x-icon">
    <link href="./css/rollingbanner-js.css" rel="stylesheet" type="text/css">
    <script src="./script/rollingbanner.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        {% include header.html %}
    </header>
    <main>
        {{content}}
    </main>
    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>