<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
    <title>BookManager</title>
    <link href="./images/v3_1334.png" rel="shortcut icon" type="image/x-icon">
    <link href="./css/rollingbanner-js.css" rel="stylesheet" type="text/css">
    <script src="./script/rollingbanner.js"></script>
</head>

<body>
    <header>
        {% include header.html %}
    </header>
    <main>
        {{content}}
    </main>
    <footer>
        {% include footer.html %}
    </footer>
    <script>
        exec();
    </script>
</body>

</html>