* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  background-color: #fafbfb;
}

header {
  width: 100%;
  flex: 10;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex: 75;
  margin-bottom: 3%;
}

footer {
  width: 100%;
  position: relative;
  margin-top: 3%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafbfb;
  opacity: 1;
  flex-direction: column;
  flex: 15;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav > .container{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav > .container div{
  margin: 0;
  padding: 0;
}

nav > .container div select{
  padding-left: 2vw;
  padding-right: 2vw;
}

nav p {
  font-size: 1.4vw;
  color: #009591;
  margin: 0;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

nav .img_wrapper {
  height: 100%;
  width: auto;
}

.container {
  clear: both;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

p {
  width: auto;
  max-width: 100%;
  color: rgba(76, 102, 118, 1);
  position: relative;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 2.4vw;
  opacity: 1;
  text-align: center;
}

#subject {
  width: auto;
  max-width: 100%;
  color: rgba(76, 102, 118, 1);
  position: relative;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 4vw;
  opacity: 1;
  text-align: center;
}

.img_wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select{
  position: relative;
  margin: 20px auto;
}
.select span{
  position: absolute;
  background-color: #009591;
  transition: .3s
}
.select p{
  padding: 1vw;
}
.select .one{
  height: 0;
  width: 3px;
  top: 0;
  left: 0;
}
.select .two{
  height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
}
.select .three{
  height: 0;
  width: 3px;
  bottom:0;
  right:0
}
.select .four{
  height: 3px;
  width: 0;
  top: 0;
  right: 0;
}
.select:hover .one,
.select:hover .three{
  height: 100%;
}
.select:hover .two,
.select:hover .four{
  width: 100%;
}
.select:hover img{
  transition-duration: .3s;
  transition-delay: .3s;
  opacity: .5;
}
.select:hover p{
  transition-duration: .3s;
  transition-delay: .3s;
  opacity: .5;
}

hr {
  width: 3vw;
  height: 0.5vh;
  background: rgba(76, 102, 118, 1);
  opacity: 1;
  position: rerlative;
  overflow: hidden;
}

#logo {
  width: 100%;
}

#quit {
  clear: both;
  width: 60%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#logo .img_wrapper {
  width: 75%;
  height: 44vw;
  margin-top: 5%;
  background-image: linear-gradient(135deg, #00959100, #00959133, #00959150, #00959177, #00959199);
}

#logo .img_wrapper img{
  width: 70vw;
  height: auto;
}

#logo .img_wrapper span{
  width: 3vw;
  height: auto;
}

#logo .img_wrapper span .arrow-path {
  stroke: #e8ebeb50;
  fill: none;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: 48;
}

#logo .img_wrapper .arrow_backward svg{
  transform: rotateZ(180deg);
}

header img {
  max-width: 5vw;
  height: auto;
}

header>div {
  height: 10vh;
}

.footer_text {
  font-weight: normal;
  font-size: 1.0vw;
}

footer .img_wrapper {
  width: 20%;
  overflow: hidden;
}

footer span {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

footer p {
  font-size: 1.4vw;
  font-weight: normal;
}

footer img {
  width: 50%;
}

#footer_div {
  background: #fafbfb;
  opacity: 1;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 60%;
  max-width: 720px;
  max-height: 100%;
  overflow: hidden;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#footer_div span div:not(.img_wrapper) {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  justify-content: center;
}

footer > div {
  background: #009591;
  opacity: 1;
  width: 100%;
  height: auto;
  display: inline;
  justify-content: center;
}

footer > div > p {
  color: #fafbfb;
}

#top_button{
  position:fixed; 
  bottom:45px; 
  right:35px;
  z-index: 1;
  width: 3vw;
  height: auto;
  transform: rotateZ(-90deg);
}
#top_button .arrow-path {
  stroke: #00959150;
  fill: none;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: 48;
}