* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

header {
  width: 100%;
  flex: 10;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex: 75;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e8ebeb;
  opacity: 1;
  flex-direction: column;
  flex: 15;
  ;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav p {
  font-size: 1.4vw;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 100%;
}

nav .img_wrapper {
  height: 100%;
  width: auto;
}

.container {
  clear: both;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  /* 초과하는 부분을 자르도록 설정합니다. */
}

p {
  width: auto;
  max-width: 100%;
  color: rgba(76, 102, 118, 1);
  position: relative;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 2.4vw;
  opacity: 1;
  text-align: center;
}

#subject {
  width: auto;
  max-width: 100%;
  color: rgba(76, 102, 118, 1);
  position: relative;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 4vw;
  opacity: 1;
  text-align: center;
}

.img_wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 3vw;
  height: 0.5vh;
  background: rgba(76, 102, 118, 1);
  opacity: 1;
  position: rerlative;
  overflow: hidden;
}

#logo {
  width: 100%;
}

#quit {
  clear: both;
  width: 60%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#logo .img_wrapper {
  width: 70%;
}

header img {
  max-width: 5vw;
  height: auto;
}

header>div {
  height: 10vh;
}

.container:not(#logo) div {
  padding-top: 2vh;
}

.footer_text {
  font-weight: normal;
  font-size: 1.0vw;
}

footer p {
  font-size: 1.6vw;
}

footer .img_wrapper {
  width: 20%;
  overflow: hidden;
}

footer span {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#footer_div {
  background: #e8ebeb;
  opacity: 1;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 60%;
  max-width: 720px;
  max-height: 100%;
  overflow: hidden;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#footer_div span div:not(.img_wrapper) {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  justify-content: center;
}

footer>div {
  background: #95c4c4;
  opacity: 1;
  width: 100%;
  height: auto;
  display: inline;
  justify-content: center;
}