* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

header {
  width: 100%;
  flex: 10;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex: 75;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e8ebeb;
  opacity: 1;
  flex-direction: column;
  flex: 15;;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav p{
  font-size: 20px;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
}

nav .img_wrapper{
  height: 100%;
  width: auto;
}

.container {
  clear: both;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  /* 초과하는 부분을 자르도록 설정합니다. */
}

p {
  width: auto;
  max-width: 100%;
  color: rgba(76, 102, 118, 1);
  position: relative;
  top: 3px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

#subject {
  width: auto;
  max-width: 100%;
  color: rgba(76, 102, 118, 1);
  position: relative;
  top: 3px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}

.img_wrapper {
  width: 60%;
}

hr {
  width: 20%;
  height: 5px;
  background: rgba(76, 102, 118, 1);
  opacity: 1;
  position: rerlative;
  overflow: hidden;
}

#logo {
  width: 100%;
}

#quit {
  clear: both;
  width: 60%;
  min-height: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#logo .img_wrapper {
  width: 70%;
}

header img {
  max-width: 5rem;
  height: auto;
}

header > div{
  height: 10rem;
}

.container:not(#logo) div {
  padding-top: 2rem;
}

.footer_text {
  color: rgba(76, 102, 118, 1);
  font-size: 12px;
}

footer p {
  font-size: 24px;
}

footer .img_wrapper {
  width: 20%;
  overflow: hidden;
}

footer span {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer_div {
  background: #e8ebeb;
  opacity: 1;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 60%;
  max-width: 720px;
  max-height: 100%;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer > div {
  background: #95c4c4;
  opacity: 1;
  width: 100%;
  height: auto;
  display: inline;
  justify-content: center;
}